
#coupleProfile .cover .text-center h4 b{
font-family: salty;
font-weight: normal;
}
#quote .container .text-center img{
width: 70% !important;
}

#welcome .wrapper .text-wrapper .welcome-text{
font-size: 3rem !important;
}

#coupleProfile .col-lg-2{
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/7zVPV19IsHX0D0qtQy9F78/c3335d3c6b02f55082b18042e59dc13d/New_Project__56_.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 0;
}

#story-slider{
max-height: 200px;
}
.quotes{
font-size: 16px !important;
font-weight: 400 !Important;
padding: 1rem; 
}
.shape{
display:block !important;
}
.shape-fill{
fill: #fdfbf7;
}

#quote {
height: max-content;
margin: 2rem 0;
position: relative;
padding: 0 !important;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/XHA6m4iOMt7HzDqAclLvl/0280a39e4443322dd5450954a6424e4f/New_Project__67_.png');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
background-repeat-y: no-repeat;
}

#quote .container{
padding:0;
}

.video .cover, #galleries{
padding-bottom: 0;
}

#galleries{
padding-top: 0 !important;
}

.video .cover{
padding-top: 2rem;
}

.main-page, .layout-cover{
background-color: #fdfbf7 !Important;
}

#coupleProfile{
padding-top: 40px;
margin-bottom: 2rem;
background-size: contain;
border-radius: 2rem;
}

#story{
margin: 2rem 0;
padding-bottom: 2rem;
position: relative;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/2DKFUnnr1bi2Pj6KeWuudk/69c4c218aa89d3736c59a8ae7510e5f2/Vector_Smart_Object1-ai__1___1_.png');
background-size: unset;
background-repeat: no-repeat;
background-position: bottom;
}

#story .container{
    padding-bottom: 1rem;
}

#story::before, #live::before{
content: "";
width: 95px;
height: 65px;
border-top: 1px solid  #eacab9;
position: absolute;
    top: -7px;
    left: -16px;
background-repeat: no-repeat;
}

#story::after, #live::after{
border-top: 1px solid #d5af81;
content: "";
width: 95px;
height: 65px;
position: absolute;
right: -17px;
bottom: 0px;
transform: rotate(
180deg
);
}


#countdown li span{
font-size: 3rem !important;
}
#countdown li span b{
font-family: salty;
}
#countdown li#days span{
font-size: 4.5rem !important;
}
#galleries .container p{
margin-bottom: 0 !important;
}

.quoteGalleries{
padding-top: 2rem;
position: relative;
padding-bottom: 1rem;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/XHA6m4iOMt7HzDqAclLvl/0280a39e4443322dd5450954a6424e4f/New_Project__67_.png');
background-size: cover;
background-repeat-y: no-repeat;
background-position: center;
}

.countdown-section::before, .rundown::before{
content: ' ';
width: 100%;
height: 100%;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/W45YYZF0qjDWyKC0273qV/b25c0d758fa23ed8bcfb1ae6a7831a3d/New_Project__60___1_.png');
background-size: contain;
background-repeat: no-repeat;
background-position-x: left;
position: absolute;
left: 0px;
top: 25%;
}

.countdown-section::after, .rundown::after{
content: ' ';
width: 100%;
height: 100%;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/4BAV3vLkHQC8A5uRJh3VAt/cd601967e24b49be61cc4bae143b7bf0/New_Project__63_.png');
background-size: contain;
background-repeat: no-repeat;
background-position-x: right;
position: absolute;
right:0;
}
.rundown::after{
top: 90%;
}
.rundown::before{
top: 10%;
}

#countdown li#days span{
border: none;
}

#countdown .container.wrapBtn{
    margin-bottom: 6rem;}

.tgl-acara{
margin-bottom: 2.5rem;
}

#countdown .btn-info, #countdown .btn-calendar{
background-color: #fdfbf7;
color: #282828;
border-color: #282828;
margin-bottom: 5px;
font-size: 14px;
}


.adress p{
margin-bottom: 0px;
padding-bottom: 1rem;
}

#rsvp{
width: 90%;
 margin: 0 5%;
padding-top: 1rem;
box-shadow: 6px 2px 52px -5px #eacab9;
}


#maps{
padding-top: 0px !important;
margin-bottom: 0 !important;
}

.countdown-section{
position: relative;
}

.lihat-lokasi{
margin: 0;
}

#live{
margin: 1rem 0;
position: relative;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/2DKFUnnr1bi2Pj6KeWuudk/69c4c218aa89d3736c59a8ae7510e5f2/Vector_Smart_Object1-ai__1___1_.png');
background-size: unset;
background-repeat: no-repeat;
background-position: bottom;
}

#maps .google-maps{
padding-top: 1rem !important;
}

#maps{
margin-bottom: 1rem;
    margin-top: 30px;
    padding-top: 1rem;
}
.rundown{
    margin: 2rem 0 2rem 0;
padding-bottom: 1rem;
}


#owl-slider .item, .owl-carousel .item{
height: 70vh !important;
}
.rundown .item-rundown{
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/2DKFUnnr1bi2Pj6KeWuudk/69c4c218aa89d3736c59a8ae7510e5f2/Vector_Smart_Object1-ai__1___1_.png');
    background-position-x: center;
    background-position-y: bottom;
background-repeat: no-repeat;
padding-bottom: 3rem;
background-size: unset;
}


.rundown .item-rundown:first-child{
margin-bottom: 0!important;
}

#adressWrapper{
padding-top: 3rem;
color: #fff;
border-radius: 10px;
float: left;
width:100%;
position: relative;
margin-bottom: 2rem;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/XHA6m4iOMt7HzDqAclLvl/0280a39e4443322dd5450954a6424e4f/New_Project__67_.png');
background-size: cover;
background-position: center;
}


#section-bottom{
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/XHA6m4iOMt7HzDqAclLvl/0280a39e4443322dd5450954a6424e4f/New_Project__67_.png');
background-size: cover;
padding-top: 0;
margin-top: 4rem;
    background-position-x: center;
    background-position-y: top;
}

#wishes .cover h1{
background: #fdfbf7;
padding-bottom: 2rem;
margin-bottom: 0;
}

#wishes{
background-color: transparent !important;
padding-top: 0 !important;
}

.adress p{
font-size: 14px;
}

.wish_noimage_wrap{
width: 90% !important;
margin: 0.5rem auto;
padding-top: 10px;
padding-bottom: 10px;
box-shadow: 2px 3px 7px 0px #eacab9;
background-color: #f9f7f961;
border: 1px solid #fdfbf7;
}

.wishes{
background-color: #f9f7f961;
width: 90% !important;
margin: 0.5rem auto;
padding-top: 10px;
padding-bottom: 10px;
box-shadow: 2px 3px 7px 0px #eacab9;
}

#footer{
padding-top: 0;
margin-top: 3rem;
background-color: transparent !important;
background-image: url('https://images.ctfassets.net/q40z6pfqje6o/1gMLKDbCOGaWyxBDdmhG9o/1dd56a82613b7da888cbe369aa8d849f/New_Project__65_.png');
background-size: contain;
background-position: bottom;
background-repeat-y: no-repeat;
}

 @media only screen and (min-width: 1024px) {
    .layout-cover:not(.mobile) {
#quote{
background-size: contain;
}
}
}
#countdown p {position:relative; z-index:9;}